<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda Entregable</title>
</head>
<body>
    
    <form action="{% url 'Resultadosbusqueda2' %}" method="GET">
        <input placeholder="Buscar fecha de entrega" type="date" name="fechaDeEntrega" id="fechaDeEntrega">
        
        <input type="submit" value="Buscar">


    </form>
</body>
</html>